* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: orange;
    padding: 16px 0;
    color: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #fff;
    text-decoration: none;
}

header li a:hover{
    color: #333;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img{
    /*height: 180px;*/
    width: 100%;
}

.article article{
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2{
    font-size: 32px;
}

section h2,
.article article{
    margin-bottom: 16px;
}

.article article h2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 8px;

}

.article article a:hover{
    text-decoration: underline;
}

.article article p{
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3{
    font-size: 24px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .article article a{
    background-color: rgb(0, 155, 0);
}

#sports .article article a:hover{
    background-color: rgb(0, 102, 0)
}

#economy{
    background-color: rgba(255, 0, 0, 0.1);
}

#economy .article article a{
    background-color: rgb(155, 0, 0);
}

#economy .article article a:hover{
    background-color: rgb(102,0,0);
}

#entertainment{
    background-color: rgba(0, 0, 255, 0.1);
}

#entertainment .article article a{
    background-color: rgb(0, 0, 155);
}

#entertainment .article article a:hover{
    background-color: rgb(0, 0, 102);
}

#technology{
    background-color: rgba(255, 0, 255, 0.1);
}

#technology .article article a{
    background-color: rgb(155, 0, 155);
}

#technology .article article a:hover{
    background-color: rgb(102, 0, 102);
}